p{
    color: white; 
    font-size: xx-large;
}


body {
    background: url("https://cdn.discordapp.com/attachments/1091705966040453172/1119592518078697512/Untitled-1.jpg");
    background-color: rgb(99, 99, 99);
    background-size: relative;
}

.container {
    background-color: rgba(0, 0, 0, 0.55);
    font-size:large;
    font-weight: 550;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    text-align: center;
    font-weight: 800;
    font-family:cursive;
    color: rgb(200, 184, 184);
    -webkit-text-stroke-color: rgb(14, 13, 13); 
    -webkit-text-stroke-width: 2px;
}

p{
    color: white;
    text-align: center;
    font-size: x-large;
}

.table{
    text-align: center;
}

h3 {
    font-weight: 750;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(86, 250, 168);
}

.revealUp {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1.5s ease-out, transform 1s ease-out;
  }