<html>

<head>
    <title>
        DepressedMe
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/LandingStyle.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='Icon.jpg') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<body>
    <div class="container">
        <p id="message" style="display: none;">Please use this website on a desktop :(</p>
    </div>
    <div class="head" id = "heading" style="display : block;">
        <img src="{{ url_for('static', filename='Logo.png') }}" style="height: 48px; width: 250px;">
        <nav>
            <ul>
                <li><a href="#intr">Home</a></li>
                <li><a href="#aus">About</a></li>
                <li><a href="#predd">Predictions</a></li>
                <li><a href="https://mail.google.com/mail/u/0/?fs=1&tf=cm&to=depressedmewebsite@gmail.com">Contact us <i class="fa fa-envelope-open-o"></i></a></li>
            </ul>
        </nav>
        <br>
    </div>
    <div class="container" id = "container">
        <div id="intr"> <br><br><br><br><br><br>
            <div class="intro">
                <div class="row">
                    <div class="col-6" data-aos="fade-right">
                        <img src="{{ url_for('static', filename='Gif.gif') }}" style=" height:300x;  width: 450px;">
                    </div>
                    <div class="col-6" id="txt" data-aos="fade-left">
                        <h1 class="hed">DepressedMe - The Place to Predict</h1><br>
                        <p>Empowering individuals to understand the impact of technology on mental well-being through
                            personalized predictions</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="aus"><br><br><br><br><br><br>
            <div class="abt-us">
                <div class="row">
                    <div class="col-6" data-aos="fade-up-right">
                        <h1>About Us</h1><br>
                        <p>Greetings from DepressedMe! We offer insights into your online behaviours and mental health
                            which
                            has been designed to address the individual issues faced by everyone.</p>
                    </div>
                    <div class="col-2">

                    </div>
                    <div class="col-4" data-aos="fade-up-left">
                        <img src="{{ url_for('static', filename='AboutUs.png') }}" style=" height:300x;  width: 300px;">
                    </div>
                </div>
            </div>
        </div>
        <div id="predd">
            <br><br><br><br><br><br>
            <div class="pred">
                <div class="row">
                    <div class="col-5" data-aos="fade-down-right">
                        <h1>Get Your Predictions!</h1><br>
                        <p>
                        <h4>Quick Prediction :</h4>
                        </p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            This option provides a fast and convenient option for obtaining predictions by answering a
                            limited number of questions. Ideal for those seeking a quick assessment of their depression
                            and anxiety levels.</p>
                    </div>
                    <div class="col-2"></div>
                    <div class="col-5" data-aos="fade-down-left">
                        <br><br><br>
                        <p>
                        <h4>In-depth Prediction :</h4>
                        </p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            This option offers a comprehensive prediction experience by providing a more detailed analysis
                            through a series of 35 questions. Recommended for individuals who prefer a thorough evaluation
                            for accurate insights into their depression and anxiety levels.</p>
                        <br><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6" data-aos="flip-right">
                        <p style="text-align: center;">
                            <a href="PredictionPage.html" class="pbut"><button class="butt"
                                    style="height:75px;width:150px">Quick Prediction</button></a>
                        </p>
                    </div>
                    <div class="col-6" data-aos="flip-left">
                        <p style="text-align: center;">
                            <a href="AccurateFormPage.html" class="pbut"><button class="butt"
                                    style="height:75px;width:150px">In-depth Prediction</button></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <br><br>

    </div>
    <script>
        AOS.init({
            debounceDelay: 50,
            once: false,
            mirror: false
        });
    </script>
    <script>
        if (window.innerWidth < 1500){
            document.getElementById("message").style.display = "block";
            document.getElementById("heading").style.display = "none";
            document.getElementById("container").style.display = "none";
    }
    </script>
</body>

</html>